@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: white !important;
  -webkit-box-shadow: 0 0 0 1000px #374151 inset !important; /* Warna sesuai bg-gray-700 */
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  color: white !important; /* Agar teks tetap putih */
}

input:-webkit-autofill:focus {
  background-color: transparent !important;
  color: white !important;
}

/* custom profile mobile*/
/* Kalau pakai Tailwind JIT bisa pake @apply */
.floating-input {
  @apply w-full bg-transparent border-b border-gray-600 text-white placeholder-transparent focus:outline-none focus:border-[#E50914] px-1 pt-5 pb-1 text-sm;
}

.floating-label {
  @apply absolute left-1 top-1.5 text-gray-400 text-xs transition-all duration-300 pointer-events-none;
}

.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label {
  @apply -translate-y-4 scale-90 text-[#E50914];
}
